* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

select {
    font-size: 30px;
    padding: 10px 15px;
    border: 5px solid rgb(148, 150, 255);
    border-radius: 15px;
    text-align: center;
}